.scrollNavBar {
  backdrop-filter: blur(15px) brightness(50%) saturate(70%);
  /* background-color: rgba(15, 15, 15, 0.3);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px); */
}

.navItems > a {
  text-decoration: none;
  margin-right: 50px;
  color: #fff;
}
