.scrollNavBar {
  backdrop-filter: blur(8px) brightness(30%) saturate(70%);
  background-color: rgba(15, 15, 15, 0.3);
}

.navItems > a {
  text-decoration: none;
  margin-right: 50px;
  color: #fff;
}
