.heading {
  text-align: center;
  padding-top: 20px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.card_img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_img > :nth-child(1) {
  width: 100px !important;
  height: 90px !important;
}

.card {
  border: none;
  /* border: 2px solid #0aa2c0; */
  text-align: center;
  cursor: pointer;
  transition: 0.9s ease;
}

.card:hover {
  border: 1px solid #0aa2c0;
  box-shadow: 7px 7px 5px #888888;
  animation: shadow_move 2s infinite;
}
.card:hover .title {
  color: #0aa2c0;
}

@keyframes shadow_move {
  10% {
    box-shadow: 5px 5px 7px #0aa2c0;
  }
}

/* extra */
.btn {
  padding: 5px 30px;
  background-color: transparent;
  border: 2px solid #0aa2c0;
  font-weight: 700;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #0aa2c0;
  border: 2px solid #fff;
  color: #fff;
}

/* card style */

/* .card:hover {
  border-top-left-radius: 50px;
  background-color: #0aa2c0;
  transition: 1s ease;
} */
.card:hover .btn {
  border: 2px solid #0aa2c0;
}
.card_content {
  height: 100%;
  width: 100%;
}

.card:hover .card_content {
  display: none;
}

/*  card content after hover*/
.hov_content {
  display: none;
  height: 100%;
  /* width: 100%; */
  transition: 0.8s ease;
  color: #fff;
}

.card:hover .hov_content {
  display: block;
  padding-top: 10px;
}

/* web development card */
.development_card {
  position: relative;
  z-index: 1000;
}
.development_card:hover::after {
  background-image: url("../public/Web-development.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1000;
}

/* digital marketing card */
.marketing_card {
  position: relative;
  z-index: 1000;
}
.marketing_card:hover::after {
  background-image: url("../public/markrting-removebg-preview.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1000;
}

/* graphic card  */
.graphic_card {
  position: relative;
  z-index: 1000;
}
.graphic_card:hover::after {
  background-image: url("../public/graphic-design-large-white.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1000;
}
