.container {
  min-height: 70vh;
  background-image: url("../public/welcome.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto Slab", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.content {
  text-align: center;
  color: #fff;
}
.content > h1 {
  font-size: 50px;
}

.content > h3 {
  font-size: 40px;
  color: aqua;
}

.container::after,
.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;

  transform: skew(15deg) translateX(-50%);
  width: 75%;
  height: 100%;
  background-image: linear-gradient(120deg, #2aa2c7, #333435);
  background-color: #333;
  opacity: 0.4;
}
.container::before {
  transform: skew(-15deg) translateX(-50%);
}
/* .banner {
  overflow: hidden;
} */

.container > * {
  z-index: 100;
}

.banner {
  position: relative;
  min-height: 60vh;
  background-image: url(https://images.unsplash.com/photo-1509473332032-f1ce823d92c4?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=3e2410208e8f8a78e4aa3550fddfbb44);
  background-size: cover;
  display: flex;
}
